body {
	background-color: black;
	padding-bottom: -150px;
}

main {
	height: 500px;
	min-width: 1200px;
	background-color: white;
	margin-top: 110px;
	position: relative;
	z-index: 1;
}

.img-container {
	margin-left: 100px;
	float: left;
	width: 659px;
	height: 494px;
}

.ryu-standing {
	display: none;
}

.ryu-ready {
	display: none;
}

.ryu-throwing {
	display: none;
}

.ryu-cool {
	display: none;
}

.click-instructions {
	font-family: 'Permanent Marker', cursive;
	color: black;
	width: 245px;
	margin: auto;
	position: absolute;
	top: 75px;
	right: 420px;
	font-size: 25px;
	display: none;
}

.x-instructions {
	font-family: 'Permanent Marker', cursive;
	color: black;
	width: 290px;
	margin: auto;
	position: absolute;
	top: 200px;
	right: 150px;
	font-size: 25px;
	display: none;
}

.brought-to-you {
	font-family: 'Permanent Marker', cursive;
	color: black;
	width: 700px;
	margin: auto;
	position: absolute;
	top: 175px;
	right: 20px;
	font-size: 50px;
	display: none;
}

.sf-logo {
	width: 682px;
	margin: auto;
	position: absolute;
	top: 50px;
	right: 50px;
	display: none;
}

.jquery-logo {
	width: 500px;
	margin: auto;
	position: absolute;
	top: 130px;
	right: 125px;
	display: none;
}

.hadouken {
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	right: 625px;
	top: 175px;
}